*.classpath
*.project
.settings
target/**
.idea
*.iml
/venv
crawl
out
target

package-lock.json
*.log
.vscode
bin
.factorypath
.h2
application-dev.properties
venv

.yarn
yarn.lock
.yarnrc.yml
babel.config.js
.pnp.js

#pnpm
pnpm-lock.yaml

dist
node_modules

/gradle
.gradle
gradle
gradlew
gradlew.bat
build

*.png
*.ico
*.pdf
*.exe
*.xlsx
*.docx
*.db
*.TTC
*.ttf
