*.classpath
*.project
.settings
target/**
.idea
*.iml
/venv
crawl
.gradle
out
target

package-lock.json
*.log
.vscode
bin
.factorypath
.h2
application-dev.properties
venv
*.xlsx
*.db

.yarn
yarn.lock
.yarnrc.yml
babel.config.js
.pnp.js

dist
node_modules

gradle
gradlew
gradlew.bat

/gradle

*.png
*.ico